<!-- #1. Create a Flask application with an /api route. When this route is accessed, 
#it should return a JSON list. The data should be stored in a backend file, read from it, 
#and sent as a response. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
     <p>Welcome to Registration Page</p>
     <p> Today is {{day_of_week}} </p>
     <p> Todays date is {{todays_date}}   </p>

     <div class="centred">

        <form action="/submit" method="POST">

            <label for ='name'>name </label>
            <input type = 'text' id='name' placeholder= 'Enter your name'>
            <br>

            <label for ='mail'>mail </label>
            <input type = 'mail' id='mail' placeholder= 'Enter your mail id'>
            <br>

            <label for ='password'>password </label>
            <input type = 'password' id='password' placeholder= 'Enter your password'>
            <br>

            <input type="submit" value = 'submit'>

        </form>
     </div>

     <style>
        body {

            background-color: whitesmoke;

        }
        p {
            text-align: center;
            font-size: 30px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: darkblue;
            font-style: italic;
        }

        .centred {

            margin: auto;
            width: 50;
            border: 3px solid greenyellow;
            padding: 10px;


        }

     </style>
</body>
</html>